.clipboardHistoryRecord {
	display: flex;
}

.clipboardHistoryRecordLabel {
	opacity: 70%;
	position: relative;
	left: -0.45em;
}

.clipboardHistoryRecordText {
	display: inline-block;
	max-width: calc(min(50vw, 80ch));
	overflow: hidden;
	text-overflow: ellipsis;
}
